.productsMain {
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
  background-color: darkslateblue;
  width: 70vw;
  height: 100vh;
}

.productsBox {
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  justify-content: center;
  background-color: gainsboro;
}

.productsImage {
  height: 35vh;
  width: 35vw;
}

.productsTop {
  background-color: brown;
}

.productsBottom {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  align-items: center;
  text-align: justify;
  padding: 3vw;
}

.productsTitle {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.productsDescription {
  font-size: 20px;
  font-weight: 400;
}

.productsStock {
  font-size: 20px;
  font-weight: 600;
}

.productsPrice {
  font-size: 20px;
  font-weight: 600;
}

.productsBtn {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  padding: 7px;
  background-color: antiquewhite;
  border: solid 2px green;
}

.productsBtn:hover {
  background-color: yellow;
}
